{% extends 'base.html' %}

{% block content %}

    {% include 'menu.html' %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/sniffer-management.css' %}">

    <div class="container">

        <div class="row">
            <div class="col">
                <span class="display-5">Sniffer Management</span></span>
            </div>
        </div>

        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}

        <div class="row">

            {% if sniffers %}

                {% for sniffer in sniffers %}

                    <div class="col-auto mb-3">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {% if 'sim' in sniffer.hostname %}
                                        <img class="sniffer-icon mx-auto d-block" src="{% static 'images/sim.png' %}">
                                    {% else %}
                                        <img class="sniffer-icon mx-auto d-block" src="{% static 'images/raspi.png' %}">
                                    {% endif %}
                                </h5>
                                <p class="card-text">
                                <table class="table table-sm">
                                    <tr>
                                        <td scope="col">Hostname</td>
                                        <td>{{ sniffer.hostname }}</td>
                                    </tr>
                                    <tr>
                                        <td scope="col">Mac Addr</td>
                                        <td>{{ sniffer.mac }}</td>
                                    </tr>
                                    <tr>
                                        <td scope="col">IP</td>
                                        <td>{{ sniffer.ip }}</td>
                                    </tr>
                                    <tr>
                                        <td scope="col">Connected</td>
                                        <td>
                                            {% if sniffer.is_connected %}
                                                <i class="fas fa-check-square text-success"></i>
                                            {% else %}
                                                <i class="fas fa-exclamation-triangle text-danger"></i>
                                            {% endif %}
                                    </tr>
                                </table>
                                </p>
                                <a href="{% url 'sniffer-remove'  sniffer.mac %}" class="card-link float-right">
                                    <i class="far fa-trash-alt text-danger"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            {% else %}
                <div class="alert alert-secondary" role="alert">
                    <i class="fas fa-exclamation-triangle text-warning"></i></i> No Sniffers registered
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}