.tab-content {
    height: 80vh;
    overflow: auto;
    background-color: #FFFFFF;
}


.col-logsearch{
}
.tab-content {
    height: 100px;
    overflow: auto;
    background-color: #FFFFFF;
}

input{
    font-family: "Consolas","Dina","Lucida Console","Menlo","Source Code Pro",monospace;
}


.search-panel-top{
    overflow: hidden;
}