{% extends 'base.html' %}

{% block content %}

    {% include 'menu.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/logsearch.css' %}">
    <div class="container">

        <div class="row">
            <div class="col">
                <span class="display-5">LogSearch</span>
            </div>
        </div>


        <div class="row">
            <div class="col col-logsearch">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="simple-tab" data-toggle="tab" href="#simple" role="tab"
                           aria-controls="simple" aria-selected="true">Simple</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="advanced-tab" data-toggle="tab" href="#advanced" role="tab"
                           aria-controls="advanced" aria-selected="false">Advanced</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="simple" role="tabpanel" aria-labelledby="simple-tab">
                            {% include 'logsearch/simple.html' %}
                    </div>
                    <div class="tab-pane fade" id="advanced" role="tabpanel" aria-labelledby="advanced-tab">
                        <form>
                            <div class="form-group mt-3">

                                <div class="input-group">
                                    <input type="text" class="form-control code-input" placeholder="SELECT * ..."
                                           aria-label="InfluxQL" aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                                            Search
                                        </button>
                                    </div>
                                </div>
                                <!--small id="qlHelp" class="form-text text-muted">You can use
                                    <a href="https://bit.ly/368IdOU" target="_blank"><code>InfluxQL</code></a>
                                    to query assets. Only Select Statements are allowed.</small-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-logsearch">
                <span class="display-6">Results</span>
                <hr>
            </div>
        </div>

    </div>


{% endblock %}