{% extends 'base.html' %}


{% block content %}

    {% include 'menu.html' %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/console.css' %}">

    <div class="container-fluid">
        <div class="row">
            <div class="col-8 col-console">

                <div class="form-group">
                    <span class="display-5">Console</span>
                    <div class="float-right">

                    </div>
                </div>

                <textarea id="message-log" class="form-control console-log" cols="100" rows="20"
                          readonly="readonly"></textarea><br>

                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="locoCheckbox" checked>
                        <label class="form-check-label" for="locoCheckbox"><img class="cb-icon"
                                                                                src="{% static 'images/loco.png' %}"></label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="switchCheckbox" checked>
                        <label class="form-check-label" for="switchCheckbox"><img class="cb-icon"
                                                                                  src="{% static 'images/track.png' %}"></label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="signalCheckbox" checked>
                        <label class="form-check-label" for="signalCheckbox"><img class="cb-icon"
                                                                                  src="{% static 'images/signal.png' %}"></label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="connectionCheckbox" checked>
                        <label class="form-check-label" for="connectionCheckbox"><img class="cb-icon"
                                                                                      src="{% static 'images/connection.png' %}"></label>
                    </div>

                    <div class="form-check form-check-inline float-right">
                        <input class="form-check-input" type="checkbox" id="scrollCheckbox" checked>
                        <label class="form-check-label" for="scrollCheckbox">Autoscroll</label>
                    </div>

                    <div class="form-group float-right mr-2 ml-2">
                        <button onclick="closeConnection()" class="btn btn-sm btn-secondary ">Close Connection
                        </button>
                    </div>

                </div>
            </div>

            <div class="col-4 col-stats">
                <span class="display-5">Stats</span>

                <div class="row">
                    <div class="col-12">
                        <ul class="list-group">
                            <li class="list-group-item">Server Connection: <div id="message-bubble" class="message-bubble">&nbsp;</div> <span id="message-status"></span></li>
                            <li class="list-group-item">Connected Sniffers: <span id="stats-num-sniffer">{{ connected_sniffers }}</span></li>
                            <li class="list-group-item">Received Messages: NaN</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="{% static 'js/reconnecting-ws.min.js' %}"></script>
    <script>
        const wsLocation = 'ws://' + window.location.host + '/ws/console/';

        let message_count = 0;
        let message_storage = [];

        let logSocket = new ReconnectingWebSocket(wsLocation, null, {
            debug: false,
            reconnectInterval: {{ reconnect_intervall }},
            reconnectAttempts: {{ reconnect_attempts }}
        })


        console.log('ws://' + window.location.host + '/ws/console/');
        logSocket.onmessage = function (e) {
            setStatus('CONNECTED');

            const data = JSON.parse(e.data);
            const messagelog = document.querySelector('#message-log');

            message_storage.push(data);
            message_count++;


            switch (data.category) {
                case 'loco':
                    if (document.getElementById("locoCheckbox").checked) messagelog.value += (data.timestamp + ' | ' + data.message + '\n');
                    break;
                case 'signal':
                    if (document.getElementById("signalCheckbox").checked) messagelog.value += (data.timestamp + ' | ' + data.message + '\n');
                    break;
                case 'switch':
                    if (document.getElementById("switchCheckbox").checked) messagelog.value += (data.timestamp + ' | ' + data.message + '\n');
                    break;
                case 'connection':
                    if (document.getElementById("connectionCheckbox").checked) messagelog.value += (data.timestamp + ' | ' + data.message + '\n');
                    break;
            }
            if (document.getElementById("scrollCheckbox").checked) {
                const textarea = document.getElementById('message-log');
                textarea.scrollTop = textarea.scrollHeight;
            }

            document.getElementById('stats-num-sniffer').innerText = data.sniffers;
        }

        logSocket.onerror = function () {
            setStatus('ERROR');
        }

        logSocket.onclose = function () {
            setStatus('CLOSED')
            // wait 5 seconds and try to reconnect
            // console.error("Connection closed, try to reconnect to " + wsLocation)
            // setTimeout(() => connect(wsLocation), 5000)
        };

        logSocket.onopen = function () {
            setStatus('CONNECTING')
            logSocket.send(JSON.stringify({
                'message': 'ready'
            }));
        }


        function closeConnection() {
            logSocket.close()
        }


        function cleanupConsoleLog() {
            let content = document.getElementById("message-log");
            let lines = content.value.split('\n');
            let newlines = lines.slice(Math.max(lines.length / 2, 0))
            content.value = "";
            newlines.forEach(line => {
                content.value = line + '\n'
            });
        }

        function setStatus(status) {

            const statusElement = document.getElementById("message-status");
            const statusBubble = document.getElementById("message-bubble");
            let statusText = "";

            switch (status) {
                case 'CONNECTING':
                    statusText = 'Connecting to server'
                    statusBubble.style.backgroundColor = '#f39c12';
                    statusBubble.style.borderColor = '#f1c40f';
                    break;
                case 'CONNECTED':
                    statusText = 'Connected to server'
                    statusBubble.style.backgroundColor = '#27ae60';
                    statusBubble.style.borderColor = '#2ecc71';
                    break;
                case 'ERROR':
                    statusText = 'Error on server connection'
                    statusBubble.style.backgroundColor = '#c0392b';
                    statusBubble.style.borderColor = '#e74c3c';
                    break;
                case 'CLOSED':
                default:
                    statusText = 'Connection closed to server'
                    statusBubble.style.backgroundColor = '#7f8c8d';
                    statusBubble.style.borderColor = '#95a5a6';
                    break;
            }
            statusElement.innerHTML = statusText;
        }

    </script>
{% endblock %}